body {
    background-color: hsl(0, 0%, 20%);
}

@media all and (max-width:480px){
    body {
        margin: 0px;
        padding: 0px;
        background: url(Images/Background.png);
        background-size: cover;
    }

    #Container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;

    }
    #AppIntro {
        color: hsl(0, 0%, 90%);
        width: 90%;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(10px);
        box-shadow: 0px 0px 3px hsl(0, 0%, 90%);
        border-radius: 5px;

    }

    #AppIntro img {
        width: 100%;
    }

    #AppIntro button {
        font-size: 2.5rem;
        border: 0px;
        color: hsl(0, 0%, 20%);
        background-color: hsl(0, 0%, 90%);
    }

    #AppIntro a {
        background-color: hsl(0, 0%, 90%);
        width: 60%;
        height: 50px;
        text-align: center;
        box-shadow: 0px 0px 10px hsl(0, 0%, 90%);
        font-size: 1rem;
        font-family: Inder;
        border-radius: 10px;
        margin-top: 80px;
        cursor: pointer;
    }

}
